{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}


{% block body %}

<div class="containH1">    
    <h1>Mentions légales</h1>
</div>

<section>
    <p>Dernière mise à jour : 27 mars 2025</p>

    <h2>1. Éditeur du site</h2>
    
        <p>Le site Regards de Guerre est édité par :</p>
            <ol>
                <li>Nom de l’éditeur : Regards de Guerre</li>    
                <li>Adresse : Rue de la paix - 75000 PARIS</li>    
                <li>Email : regardsguerre@gmail.com</li>    
                <li> Directeur de la publication : Regards de Guerre</li>
            </ol>

    <h2>2. Hébergement du site</h2>
    
        <p>Le site est actuellement hébergé en local.</p>

            {# <p>En cas de mise en production, l’hébergement sera assuré par :</p>
            <ol>
                <li>Hébergeur : OVH (ou autre)</li>
            
                <li>Adresse de l’hébergeur : [Adresse d’OVH]</li>
            
                <li>Site web : [Lien vers l’hébergeur] </li>
            </ol>#}

    <h2>3. Propriété intellectuelle</h2>
    
        <p>L’ensemble du contenu présent sur ce site (textes, images, logos, éléments graphiques, etc.) est protégé par le droit d’auteur et appartient à Regards de Guerre ou à ses auteurs respectifs. 
        Toute reproduction, modification ou diffusion sans autorisation préalable est interdite.</p>

    <h2>4. Responsabilité</h2>
    
        <p>L’éditeur du site s’efforce de fournir des informations aussi précises que possible. 
            Cependant, il ne peut garantir l’exactitude, la complétude ou l’actualité des informations publiées.</p>
        
        <p>L’utilisateur est seul responsable de l’usage qu’il fait du site et des informations qu’il y trouve. 
            Regards de Guerre ne pourra être tenu responsable des dommages directs ou indirects résultant de l’utilisation du site.</p>

    <h2>5. Données personnelles et cookies</h2>
        
        <p>Pour plus d’informations sur la gestion des données personnelles, veuillez consulter notre <a href="{{ path('policyPrivacy') }}"><strong>Politique de confidentialité</strong></a>.</p>    
        <p>Le site peut utiliser des cookies pour améliorer l’expérience utilisateur. Vous pouvez configurer votre navigateur pour les refuser.</p>

    <h2>6. Contact</h2>
        
        <p>Pour toute question concernant ces mentions légales, vous pouvez nous écrire à <strong>regardsguerre@gmail.com</strong>.</p>

</section>




{% endblock %}

