{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block description %}
Découvrez la politique de confidentialité de Regards de Guerre, expliquant comment nous collectons, utilisons et protégeons vos 
données personnelles conformément au Règlement Général sur la Protection des Données (RGPD).
{% endblock %}

{% block body %}

<div class="containH1">    
    <h1>Politique de confidentialité</h1>
</div>

<section>
    <i>Dernière mise à jour : 27 mars 2025</i>
    
        <p>La présente politique de confidentialité explique comment le site Regards de Guerre collecte, utilise et protège les données personnelles des utilisateurs. 
        Nous nous engageons à respecter la confidentialité de vos informations et à assurer leur sécurité conformément au Règlement Général sur la Protection des Données (RGPD).</p>

    <h2>1. Responsable du traitement</h2>
    
        <p>Le responsable du traitement des données est Regards de Guerre. 
        Pour toute question relative à la protection des données, vous pouvez nous contacter à l’adresse suivante : <strong>regardsguerre@gmail.com</strong>.</p>

    <h2>2. Données collectées et finalités</h2>
    
        <p>Lors de l’utilisation du site, nous collectons certaines informations nécessaires à son bon fonctionnement :</p>
            <ol class="listLegal">
                <li>Lors de l’inscription, nous recueillons votre adresse email et un mot de passe afin de créer et sécuriser votre compte.</li>
            
                <li>Si vous passez une commande, nous collectons en plus votre nom et prénom pour assurer le traitement de votre achat.</li>
            
                <li>Si vous participez au blog, nous enregistrons également un pseudo, qui permet d’identifier vos contributions.</li>
            </ol>

    <p>Toutes ces données sont accessibles et modifiables dans votre espace personnel.</p>

    <h2>3. Durée de conservation des données</h2>
    
        <p>Les données personnelles sont conservées uniquement le temps nécessaire à leur utilisation :</p>
            <ol class="listLegal">
                <li>Si vous supprimez votre compte sans avoir passé de commande ni écrit sur le blog, toutes vos données seront définitivement supprimées.</li>
                <li>Si vous avez publié des commentaires sur le blog, votre email et votre pseudo seront anonymisés, et le reste des informations supprimé.</li>
                <li>Si vous avez passé une commande, nous devons conserver votre nom et prénom pendant la durée légale requise, tandis que les autres informations seront anonymisées.</li>
            </ol>

            <h2>4. Partage des données</h2>
            
        <p>Nous ne partageons aucune donnée personnelle avec des tiers.</p>

    <h2>5. Droits des utilisateurs</h2>
    
        <p>Conformément au RGPD, vous disposez des droits suivants sur vos données personnelles :</p>
            <ol class="listLegal">
                <li>Droit d’accès : vous pouvez demander à consulter les informations que nous détenons sur vous.</li>
                <li>Droit de rectification : vous pouvez modifier vos données si elles sont incorrectes.</li>
                <li>Droit à l’effacement : vous pouvez demander la suppression de vos données, sous réserve des obligations légales.</li>
                <li>Droit d’opposition et de limitation : vous pouvez restreindre ou vous opposer à certains traitements de vos données.</li>
            </ol>

        <p>Vous pouvez exercer ces droits directement via votre profil utilisateur ou en nous contactant à <strong>regardsguerre@gmail.com</strong>.</p>

    <h2>6. Sécurité des données</h2>
    
        <p>Nous mettons en place des mesures de sécurité pour protéger vos données contre tout accès non autorisé, perte ou altération.</p>

    <h2>7. Hébergement et transfert des données</h2>
    
        <p>Le site est actuellement hébergé en local. Si une mise en production a lieu, les données seront hébergées chez OVH (ou tout autre hébergeur conforme au RGPD).</p>

    <h2>8. Contact</h2>
    
        <p>Pour toute question concernant cette politique de confidentialité, vous pouvez nous écrire à <strong>regardsguerre@gmail.com</strong>.</p>
</section>




{% endblock %}

