{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>BIENVENUE</h1>
</div>

<section class="secuLogin">
    <form class="secuForm" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        <h2 class="secuH2">Se connecter</h2>
    
        <div class="blockSecuForm">
            <div class="blockSecuInput">
                <div class="label">
                    <label for="username">Email</label>
                </div>
                <div class="input">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" placeholder="Votre email" required autofocus>
                </div>
            </div>
    
            <div class="blockSecuInput">
                <div class="label">
                    <label for="password">Password</label>
                </div>
                <div class="input">
                    <input type="password" name="_password" id="password" autocomplete="current-password" placeholder="Mot de passe" required>
                </div>
                {# autocomplete aide le nav c/ le vol de session par ex #}
            </div>
    
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
            <div class="blockSecuInput">
                <div class="rememberForgot">
                    <div class="blockRememberForgot"> 
                        <input class="caseCheckbox" type="checkbox" name="rememberMe" id="rememberMe">
                        <label for="rememberMe">Se souvenir</label>
                    </div>
                    <div class="blockRememberForgot">
                        <a href="{{ path('forgotPasswordRequest')}}">Mot de passe oublié</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="btnSubmit" type="submit">Connexion</button>
        
    </form>
</section>
{% endblock %}
