{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}

<h1>Back-Office</h1>

<section>
    <h2>Modification de l'utilisateur</h2>
    
    {# Affichage du formulaire #}
     {{ form_start(form) }}
       {{ form_row(form.userNickname) }}
        <button type="submit" name="submitNickname">Valider</button>

        {{ form_row(form.roles) }}  
        <button type="submit" name="submitRoles">Valider</button>
    {{ form_end(form) }}  

   
</section>

{% endblock %}
