{% extends 'base.html.twig' %}

{% block title %}Suppression d'un artiste d'une exposition{% endblock %}

{% block description %}
    Confirmez la suppression d'un artiste de l'exposition. Cette action est irréversible.
{% endblock %}


{% block body %}
<div class="containH1">    
    <h1>Confirmation</h1>
</div>

<section class="sectionCenter">
    <p class="noticeBO">
        Cett page permet de confirmer la suppression d'un artiste.        
        Cette action est définitive et ne peut pas être annulée.
    </p>
    
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <p class="marginTop">Vous êtes sur le point de supprimer l'artiste <strong>{{ artist }}</strong> de l'exposition <strong>{{ exhibition }}</strong> ?
            </p>

            <div class="button btnSubmit">
                <a href="{{ path('removeArtistFromExhibitBO', {'slugArtist': artist.slug, 'slugExhibit': exhibition.slug}) }}"
                title="{{ 'Supprimer l\'artiste ' ~ artist.artistFirstname ~ ' ' ~ artist.artistName ~ ' de l\'exposition ' ~ exhibition.titleExhibit }}">
                    Supprimer
                </a>
            </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}


