{% extends 'base.html.twig' %}

{% block title %}Suppression d'un artiste d'une exposition{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Confirmation</h1>
</div>

<section class="sectionCenter">
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <p class="marginTop">Vous êtes sur le point de supprimer l'artiste <strong>{{ artist }}</strong> de l'exposition <strong>{{ exhibition }}</strong> ?
            </p>

            <div class="button btnSubmit">
                <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': artist.id, 'idExhibit': exhibition.id}) }}">
                    Supprimer
                </a>
            </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}


