{% extends 'base.html.twig' %}

{% block title %}Suppression d'un artiste d'une exposition{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Confirmation</h1>
</div>

<section>
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <p>Vous êtes sur le point de supprimer l'artiste <strong>{{ artist }}</strong> de l'exposition <strong>{{ exhibition }}</strong> ?
            </p>

            <a href="{{ path('removeArtistFromExhibitBO', {'idArtist': artist.id, 'idExhibit': exhibition.id}) }}">
                Supprimer
            </a>
        {% endif %}
    {% endif %}
</section>
{% endblock %}


