{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block description %}
    Découvrez notre association dédiée à l'histoire, à l'art et à la mémoire collective. 
    Explorez notre espace d'exposition et notre mission de partage et de réflexion autour des récits de la guerre et de la paix.
{% endblock %}

{% block body %}

<div class="containH1">    
    <h1>Qui sommes nous ?</h1>
</div>

<section>
    <div class="blockAbout">
        <p>
            Nous sommes une association passionnée par l’histoire, l’art et la transmission de la mémoire collective. À travers notre espace d’exposition, nous cherchons à créer un lieu où les visiteurs peuvent explorer, comprendre et ressentir les récits marquants de la guerre et de la paix.
        </p>

        <p>
            Notre mission est de mettre en lumière des œuvres, des artistes et des témoignages qui célèbrent la mémoire tout en invitant à la réflexion. Que ce soit à travers des expositions, des événements culturels ou des collaborations artistiques, nous souhaitons offrir une expérience enrichissante qui touche chaque visiteur.
        </p>

        <p>
            En soutenant les artistes, en partageant des histoires et en encourageant le dialogue, nous espérons contribuer à préserver et à transmettre un héritage universel, tourné vers l’humanité et la compréhension. Votre visite fait partie intégrante de cette démarche, et nous sommes honorés de vous accueillir dans ce lieu de partage et d’émotion.
        </p>
    </div>
    </section>




{% endblock %}

