/* Général */

:root {
    --background: whitesmoke;
    --ftColor: #1e1e1e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--ftColor);
}

body {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
}

a {
    list-style: none;
    text-decoration: none;
}

/* Navbar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#leftBlock {
    width: 30%;
    display: flex;
    align-items: center;
}

#rightBlock ol {
    display: none;
}

#rightBlock {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}


