:root {
    --background: whitesmoke;
    --ftColor: #1e1e1e;
    --line: #FFA07A; 
    --backgroundColor: #FFA07A;
    --backgroundColor: #FFA07A;
    --backgroundColorPastel: rgba(255, 160, 122, 0.15);
    --backgroundColorPastelTitle: rgba(255, 160, 122, 0.50);
    --backgroundColorButton: linear-gradient(to right, #FFBFA6 0%, #FA8072 100%);
    --icon: #944C43;
    --iconFooter: #1e1e1e;
    --ftTitle: #944C43;
    --footer: #FA8072;    

    --parkinsans: 'Parkinsans', serif;
    --cormorantGaramond: 'CormorantGaramond', serif;

    --warning: #f5d93a;
    --success: green;
    --danger: rgb(223, 18, 18);
    --error: rgb(223, 18, 18);

}

.alert-success {
    text-align: center;
    padding: 10px;
    background-color: var(--success);
    color: white;
}

.alert-warning {
    text-align: center;
    padding: 10px;
    background-color: var(--warning);
    color: var(--ftColor);
}

.iconWarning {
    color: var(--warning) !important;
}

.alert-danger {
    text-align: center;
    padding: 10px;
    background-color: var(--danger);
    color: white;
}

.iconDanger {
    color: var(--danger) !important;
}

.alert-error {
    text-align: center;
    padding: 10px;
    color: var(--danger);
}

@font-face {
    font-family: 'Parkinsans';
    src: url('/polices/Parkinsans/Parkinsans-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; 
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light Italic */
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-Italic.ttf') format('truetype');
    font-weight: 400; /* Regular Italic */
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-MediumItalic.ttf') format('truetype');
    font-weight: 500; /* Medium Italic */
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600; /* SemiBold Italic */
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('/polices/CormorantGaramond/static/CormorantGaramond-BoldItalic.ttf') format('truetype');
    font-weight: 700; /* Bold Italic */
    font-style: italic;
}