/* Général */

:root {
    --background: whitesmoke;
    --ftColor: #1e1e1e;
    --line: #FFA07A; 
    --backgroundColor: #FFA07A;
    --icon: #944C43;
    --ftTitle: #944C43;
    --footer: #FA8072;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--ftColor);      
}

header {
    font-size: 1em;
}

body {
    display: flex;
    flex-direction: column;    
    font-size: 2em;  
}

a {
    list-style: none;
    text-decoration: none;
}

section {
    padding: 5%;
}



