/************ Commun ***************/
.blockBtnAdd {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btnAdd {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: var(--backgroundColorButton);
    text-align: center;
    width: 300px;	
}

.blockBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.iconsEdit {
    padding: 0% 5px;
}

.textDelete {
    text-align: center;
}

/************ Index ***************/
.backOffice ol {
    list-style: none;
}

/************ Liste des users ***************/
 .listMembers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px 15px;
    margin-bottom: 5%;
} 

.listMbrs {
    display: grid;
    grid-template-rows: auto;
    row-gap: 5px;
    margin-bottom: 5%;
}

/************ Edit orders users ***************/
.blockOrderUser {
    padding-bottom: 10%;
}

.infosOrder {
    padding-bottom: 3%;
}








/************ Liste d'expositions ***************/
.blockListExhibit {
    padding-bottom: 10px;
}

/************ Page Show ***************/
.blockArtistAvailable, .blockArtistToAdded {
    padding-bottom: 5%;
}

.blockRoomImgExpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    padding-top: 3%;
}

.select select {
    width: 150px;
    padding: 2%; 
}

/************ Page artists ***************/
.filterArtist {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.filterArtist label {
    margin-right: 10px;
}

.filterArtist select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#artistFilter {
    background-color: var(--backgroundColorPastel);
}

.listArtists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}