/************ Commun ***************/
.blockBtnAdd {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btnAdd {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: var(--backgroundColorButton);
    text-align: center;
    width: 300px;	
}

.blockBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.iconsEdit {
    padding: 0% 5px;
}

.textDelete {
    text-align: center;
}

.noticeBO {
    text-align: center;
    padding-bottom: 50px;
}

.noticeBO p {
    text-align: center;
}

/************ Index ***************/
.backOffice ol {
    list-style: none;
}



/************ Page artists /users ***************/
.filterArtist, .filterUser, .filterStock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.filterArtist label, .filterUser label {
    margin-right: 10px;
}

.filterArtist select, .filterUser select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#artistFilter, #userFilter, #letterFilter {
    background-color: var(--backgroundColorPastel);
}

.listArtists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.filterArtist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blockListArtist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/************ Liste des users ***************/
.userBOH2 {
    padding-bottom: 10px;
}
.adminUserList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px 15px;
    margin-bottom: 50px;
} 

.listMbrs { /* Root co */
    display: grid;
    grid-template-rows: auto;
    row-gap: 5px;
    margin-bottom: 50px;
}

.adminUserBlock {
    margin-left: auto;
    margin-right: auto;
}

.iconsEditUserList {
    padding: 0;
}


/************ Edit orders users ***************/
.blockOrderUser {
    padding-bottom: 10%;
}

.infosOrder {
    padding-bottom: 3%;
}

.historyBOH2, .userH2 {
    padding-bottom: 30px;
}

.totalOrder {
    padding-top: 10px;
}

.orderTitle {
    padding-bottom: 10px;
}

/************ Liste d'expositions ***************/
.blockListExhibit {
    padding-bottom: 10px;
}

/************ Page Show ***************/
.blockArtistAvailable, .blockArtistToAdded {
    padding-bottom: 5%;
}

.blockRoomImgExpo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    padding-top: 3%;
}

.select select {
    width: 150px;
    padding: 2%; 
}

.artistShowH2 {
    padding-bottom: 30px;
}



/******************* Factures ******************/
.invoiceItem {
    padding-bottom: 10px;
}


/***************** Stocks ***************/
.stockH2, .dateExhibitStock {
    display: block;
    color:var(--ftTitle);
    font-family: var(--cormorantGaramond);
    padding-bottom: 10px;
}

.stockContainer {
    padding-bottom: 30px;
}

