/* Burger */
.burger_button .line {
    width: 25px;
    height: 3px;
    background-color: rgb(235, 113, 6);
    transition: all 0.3s ease;
}

.burger_button.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.burger_button.open .line:nth-child(2) {
    opacity: 0;
}
.burger_button.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}