/************** Page exhibition **************/
.pageExhibitH2{
    text-align: center;
    padding: 20px 0;
}

.dateHourPageExhibit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding-bottom: 20px;
}

.blockImgExhibit {
    position: relative; 
    display: inline-block; 
}

.expoImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}

.imgStockExhibit {
    position: absolute; 
    top: 0;
    left: 0;
    width: auto; 
    height: auto; 
    max-width: 50%; 
    max-height: 50%; 
    z-index: 10;     
    top: 10px; 
    left: 10px;     
}

.cta {
    margin-top: 10%;
}

.sectionIntroExhibit {
    background-color: var(--backgroundColorPastel);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sectionIntroExhibit p {
    text-align: center;
}

.blockArtistPageExhibit {
    width: 100%;
}

.blockArtistPageExhibit p {
    padding-bottom: 5px;
}

.artistInfosPageExhibit, .artistImgPageExhibit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-bottom: 20px; 
}

.artistTextPageExhibit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.artistRoomPageExhibit {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 50px;
}