/************** Page exhibition **************/
.sectionExhibit {
    padding-top: 0;
}

.pageExhibitTitle {
    color: var(--ftTitle);
    font-family: var(--cormorantGaramond);
    text-align: center;
    padding: 20px 0;
}

.dateExhibitTitle {
    color: var(--ftTitle);
    font-family: var(--cormorantGaramond);
    text-align: center;
    /* font-size: medium; */
}

.dateHourPageExhibit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding-bottom: 20px;
}

.imgExhibitContainer {
    position: relative; 
    padding-bottom: 50px;
}

.expoImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.blockImgExhibit p {
    padding-top: 30px;
}

.imgStockExhibit {
    position: absolute; 
    top: 0;
    left: 0;
    width: auto; 
    height: auto; 
    max-width: 50%; 
    max-height: 50%; 
    z-index: 10;     
    top: 10px; 
    left: 10px;     
}

.cta {
    margin-top: 10%;
}



/***************** Partie ticket *******************/
.ticketExhibit {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.blockTicketExhibit {
    padding-bottom: 50px;
}

.titleTicket {
    width: 45%;
}

.ticketH2 { 
    padding-top: 30px;
    padding-bottom: 15px;
}

.ticketExhibit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blockTitleQtyTicket {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.blockPriceTicket {
    width: 50%;
}

.blockQtyTicket {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.nbCart {
    padding: 0 10px;
}

/************** intro ********************/
.sectionIntroExhibit {
    background-color: var(--backgroundColorPastel);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sectionIntroExhibit p {
    text-align: center;
}

/***************** Artist ***********************/
.galerieH2 {
    color: var(--ftTitle);
}

.blockArtistPageExhibit {
    width: 100%;
    padding-top: 30px;
}

.blockArtist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockArtist img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.artistContainer p {
    padding-bottom: 30px;
}

.artistInfosPageExhibit p {
    padding-bottom: 5px;
}

.artistInfosPageExhibit, .artistImgPageExhibit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px; 
}

.artistRoomPageExhibit {
    font-weight: bold;
}

.artistDesktopNone {
    display: none;
}


/************************* Media query *******************/
@media screen and (min-width: 500px) {
    .blockArtist {
        flex-direction: row;
        gap: 45px;
    }

    .blockArtistPageExhibit img {
        width: 200px;
    }

    .loopEven-even {
        flex-direction: row-reverse; 
    }
}



@media screen and (min-width: 800px) {   
    .imgExhibitContainer {        
       width: 50%;
       margin-left: auto;
        margin-right: auto;
    }

/**** Tickets ****/
    .blockImgExhibit p {
        padding-top: 0;
    }

    .ticketsContainer {
        width: 500px;
    }

    .buttonTicket {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


/*** Artists ***/
    .artistContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
        padding-top: 50px;
    }

    .loopEven-even {
        flex-direction: row-reverse; 
    }

    .artistImgPageExhibit {
        width: 100%;
    }

    .blockArtist {
        width: 50%;
    }

    .blockArtist img {
        width: 300px;
    }

    .blockArtistText {
        width: 50%;
    }

    .artistTabletNone {
        display: none;
    }

    .artistDesktopNone {
        display: block;
    }

    .artistInfosPageExhibit, .artistImgPageExhibit {
        margin-bottom: 0; 
    }

}

@media screen and (min-width: 1200px) { 
    .imgExhibitContainer {
        margin-left: 0;
        margin-right: 0;
        width: 30%;
    }

    .blockImgExhibit {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .blockTextPriceExhibit {
        width: 50%;
        display: flex;
        flex-direction: column;
        
    }
    

    .artistContainer {
        gap: 50px;
    }

    .blockArtist {
        width: 20%;
    }

    .blockArtist img {
        width: 200px;
    }

    .blockArtistText {
        width: 70%;
    }
}
