/**************************** Media query ***********************/
@media screen and (min-width: 700px) {
    /**** Commun ****/
    .blockMediaMini {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;    
    }

    .miniMedia {
        width: 45%;
        padding: 10px 0%;
    }
    /**** Artists ***/
    .headerArtists {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .blockListArtist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    /********************* Factures **************/
    .invoiceList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap:20px;
    }
    
    /******************* Expos ******************/
    .listExhibitContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;        
        gap: 0 100px;
    }   

    .priceTickets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    /***************** Show **************/
    .artistShowContainer {
        display: flex;    
        flex-direction: row-reverse;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 100px;
    }

/*************** Stocks ****************/
    .blockStock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 0 100px;
    }
    
}

@media screen and (min-width: 1200px) {
    /**** Commun ***/
    form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
   }

    /**** Artists ***/
    .headerArtists {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .blockListArtist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .invoiceList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap:20px;
    }

    /*************** Expos ****************/
    .listExhibitContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;        
        gap: 0 100px;
    }

    .blockEditImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainImgForm {
        width: 500px;
    }

/*************** Stocks ****************/
    .blockStock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 0 100px;
    }

    /********** User ************/
    .adminUserBlock {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }
    
    .adminUserContainer {
        width: 50%;
    }
    
}


