
.longTitle {
    display: block;
    text-align: center;
}

.blockDateImgExpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blockEditImg, .blockMiniExpo {
    width: 100%;
}

.blockMiniExpo input{
    width: 45%;
}

.priceTickets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

  
.mainImgForm {
    width: 100%;
}

textarea {
    width: 100%;
    padding: 2%;
    height: 150px;
    border-radius: 10px;
    resize: none;
}

.blockMini {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.mini {
    width: 45%;
    padding: 10px 0%;
}

.blockMiniSolo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputMini input{
    padding: 2%;
    border-radius: 10px;
    width: 40%;
}

.formH2 {
    padding: 30px 0;
}



