/**************************** Media query ***********************/
@media screen and (min-width: 700px) {
    /**** Commun ****/
    .blockMediaMini {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;    
    }

    .miniMedia {
        width: 45%;
        padding: 10px 0%;
    }
    /**** Artists ***/
    .headerArtists {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .blockListArtist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    /********************* Factures **************/
    .invoiceList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap:20px;
    }
}

@media screen and (min-width: 1200px) {
    /**** Commun ***/
    form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

   }

    /**** Artists ***/
    .headerArtists {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .blockListArtist {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .invoiceList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap:20px;
    }
}


