/* Commun */
.homeH2 {    
    padding: 0 5% 30px 5%;
    color: var(--ftTitle);
}

/* Carrousel */

.sectionCarrousel {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.blockCarrousel {
    position: relative;   
    width: 100%;
    height: 320px;
}

.imgContainHome {
    position: relative; 
    overflow: hidden; 
    width: 100%;
    height: 100%;
}

.carrouselImg {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;  
}

.filterImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);   
}

.carrouselH2 {
    padding-top: 0 !important;
}

.carrouselBlockText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-end; 
    padding: 8px 15px 8px 15px; 
}

.blockRight {
    width: 100%;
    font-size: 0.7em;
}

.carrouselH2 span {
    font-family: var(--cormorantGaramond);
    color: var(--ftTitle);
    text-align: center;
    display: block;
}

.dateWarCarrousel {
    display: block;
}

.carrouselDate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carrouselDate span {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
    text-align: center;
}

.carrouselText {
    width: 100%;
    text-align: justify; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    width: 100%; 
    height: 100%;
    box-sizing: border-box; 
    font-weight: 450;
}

.btnCTA {    
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    border-radius: 50px;
    background: var(--backgroundColorButton);
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

/****** Intro ******/
.introHomeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 5% 50px 5%;
    gap: 10px;
}

.introHome {
    text-align: center;    
}

/****** Agenda ******/
.sectionAgenda {    
    padding: 50px 0% 0 0;
}

.blockAgendaContainer {
    width: 100%;
    padding: 50px 5%;
    background: var(--backgroundColorPastel);
    margin-bottom: 50px;
}

.imgAgenda {
    display:none;
}

.exhibitAgenda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
}

.blockDateAgenda {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-bottom: 1%;
}

.blockImgStockHome {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding-bottom: 1%; 
}

.imgStockHome {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px; 
    max-height: auto; 
}

.blockTextAgenda {
    padding-bottom: 30px;
}

.hookAgenda {
    padding-top: 30px;
}




/****** Accès *******/
.sectionVisit {
    padding: 0 0 50px 0;
}


.blockVisitContainer {
    width: 100%;
    padding: 0% 5%;
    padding-top: 5%;
}

.disabledBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5% 0%;
}

.blockVisitContainer iframe {
    width: 100%;
    height: 300px;
}

.blockPath {
    display: flex;
    flex-direction: column; /*a enlever en desktop*/
    align-items: center; /*a enlever en desktop*/
    justify-content: center;    
    gap: 20px;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.pathTransport {
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.metroPath div {
    margin-bottom: 5px;
}

.iconMetro {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


/************************** Media query *********************/

@media screen and (min-width: 800px) {
    .infoAgendaContainer {
        width: 70%;
    }

    .imgAgenda {
        display:block;
        object-fit: cover;
        width: 100%;
    }

    .imgAgendaContainer {
        width: 30%;
    }
    
    .exhibitAgenda {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 50px;
    }  

    

    .blockPath {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .visitTrain, .visitCar {
        width: 30vw;
    }
}

@media screen and (min-width: 1200px) {
    /* .imgAgenda {
        display:block;
        max-width: 20vw;
        object-fit: cover;
    } */
}