
/************************** Liste des expos ****************************/
.blockListAgendaContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blockListAgenda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.blockListAgendaContainer img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.exhibitListAgenda {
    width: 200px;
}

.blockDateListAgenda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.longTitleDate {
    display: block;
    font-family: var(--cormorantGaramond);
}

.imgOutOfStock {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px; 
    max-height: auto; 
}

.imgSoonOutOfStock {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px; 
    max-height: auto; 
}

.titleExhibitListAgenda {
    padding: 10px 0;
    text-align: start;
}

.buttonClear {
    padding-top: 100px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}


 
/******************** Media query ********************/
@media screen and (min-width: 800px) {     
    .blockListAgendaContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .buttonClear {
        padding-top: 100px;
        padding-right: 30px;
        display: flex;
        justify-content: flex-end;
    }
    
    .blockListAgenda {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        padding-bottom: 50px;
    }
    
    .blockListAgendaContainer img {
        width: 300px;
        height: auto;
        object-fit: cover;
    }
    
    .exhibitListAgenda {
        width: 200px;
    }
    
    .blockDateListAgenda {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .longTitleDate {
        display: block;
        font-family: var(--cormorantGaramond);
    }
    
    .titleExhibitListAgenda {
        padding: 10px 0;
        text-align: start;
    }
}  
   
 

/**************************** Cart *****************************/
.cartH2 {
    color: var(--ftTitle);
    font-family: var(--cormorantGaramond);
    padding-bottom: 10px;
}



.blockTicketCart {
    padding-bottom: 5%;
}

.exhibitionGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticketCart {
    padding-bottom: 5%;
}

.lineTicketCart {
    display: flex;
    flex-direction: column;
}

.lineTicketCart p {
    text-align: start;
}

.blockQtyPrice {    
    padding-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.amountCart {
    display: flex;
    justify-content: end;
}

.amountContainer {
    padding-top: 50px;
}

.amountCart {
    padding-bottom: 50px;
}

.amountCart span {
    padding: 0 30px;
}

.blockIdentityOrder {
    padding: 5% 0;
}

.saveId {
    padding-top: 10px;
}

/**************************** Confirm delete cart *****************************/
.confirmDeleteCart {
    text-align: center;
    padding-top: 5%;
}

.yesNoConfirmDeleteCart {
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/**************************** Media query *************************/
@media screen and (min-width: 800px) {
    .summaryCart {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .ticketPayment {
        display: flex;
        flex-direction: row;
        gap:30px;
    }

    .amountContainer {
        padding-top: 30px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }

    .amountCart {
        width: 100%;
        padding-top: 60px;
    }

    .btnCart {
        width: 60%;
    }

    .btnCartType {
        width: 60%;
    }

}

@media screen and (min-width: 1200px) {  
    .summaryCart {
        justify-content: center;
        gap: 50px;
       }
    

}