/***************** Navbar ************************/
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    gap: 10px;
}

.logo {
    width: 85px;
}

#leftBlock {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile p {
    padding: 6% 0;    
}

#rightBlock ol {
    display: none;
    list-style: none;
}

#rightBlock {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#rightBlock ol.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 2%; 
    background-color: var(--background);
    border-radius: 10px;
    width: 200px;
    height: auto;
    z-index: 10;
    text-align: left;
    padding: 3%;
    gap: 20px;
}

.desktopBO {
    display: none;
}

.burgerBO {
    margin: 0;
}



/***************** Burger *****************/
.burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.burgerButton .line {
    width: 40px;
    height: 3px; 
    /* margin: 25%; */
    background-color: var(--line);
    transition: all 0.3s ease;
    position: absolute;
}

.burgerButton .line:nth-child(1) {
    top: 10px;
}

.burgerButton .line:nth-child(2) {
    top: 22px;
}

.burgerButton .line:nth-child(3) {
    top: 34px;
}

.burgerButton.open .line:nth-child(1) {
    transform: rotate(45deg);
    top: 22px;
}

.burgerButton.open .line:nth-child(2) {
    opacity: 0;
}

.burgerButton.open .line:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
} 


/***************** Footer *****************/
 footer {
    width: 100%;
    padding: 50px 5%;
    background-color: var(--footer);
}

.blockFooter {
    padding-bottom: 10px;
    width: 100%;
} 


/****** Réseaux *****/
 .contactNetworks {  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

.footerIcon {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
} 

.titleContact {
    text-align: center;
}

.blockContact, .blockNetworks {
    width: 45%;
}

.iconNetworks {
    color: var(--iconFooter);
    font-size: 2rem;
}

/****** Textes Légaux *****/
.blockLegaux {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.listLegal {
    list-style: none;
    padding-left: 5%;
}

.legalTexts {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.legalTexts p {
    width: 50%;
    text-align: center;
}

/****** Copyright *****/
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

/********************************* Media Query **************************/
@media screen and (min-width: 800px) {
/**** Burger ****/
.burgerButton {
    display: none; 
  }

  .burgerBO {
    display: none;
}

.desktopBO {
    display: block;
}

  #leftBlock {
    width: 45%;
  }
  
  #rightBlock {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

 
  #rightBlock ol {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    }
}


@media screen and (min-width: 1200px) {
/**** Burger ****/
   
    #rightBlock {
    width: 35%;
    align-items: center;
}

/***************** Footer *****************/
/**** Copyright ***/
    .copyright {
      z-index: 99;
      position: absolute; 
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; 
      width: fit-content; 
      height: fit-content; 
    }
  
    footer {
      position: relative; 
    }
  }