/***************** Navbar ************************/
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
}

.logo {
    width: 20%;
}

#leftBlock {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile p {
    padding: 6% 0;    
}

#rightBlock ol {
    display: none;
    list-style: none;
}

#rightBlock {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#rightBlock ol.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 2%; 
    background-color: var(--background);
    border-radius: 10px;
    width: 30%;
    height: auto;
    z-index: 10;
    text-align: left;
    padding: 1% 3%;
}

#rightBlock li {
    padding: 5%;
} 

/***************** Burger *****************/
.burgerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}

.burgerButton .line {
    width: 40px;
    height: 3px; 
    /* margin: 25%; */
    background-color: var(--line);
    transition: all 0.3s ease;
    position: absolute;
}

.burgerButton .line:nth-child(1) {
    top: 10px;
}

.burgerButton .line:nth-child(2) {
    top: 22px;
}

.burgerButton .line:nth-child(3) {
    top: 34px;
}

.burgerButton.open .line:nth-child(1) {
    transform: rotate(45deg);
    top: 22px;
}

.burgerButton.open .line:nth-child(2) {
    opacity: 0;
}

.burgerButton.open .line:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
} 


/***************** Footer *****************/
 footer {
    width: 100%;
    padding: 5%;
    background-color: var(--footer);
}

.blockFooter {
    padding-bottom: 5%;
    width: 100%;
} 


/****** Réseaux *****/
 .contactNetworks {  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 

.footerIcon {
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
} 

.titleContact {
    text-align: center;
}

.blockContact, .blockNetworks {
    width: 45%;
}

.iconNetworks {
    font-size: 2rem;
}

/****** Textes Légaux *****/
.blockLegaux {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.legalTexts {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.legalTexts p {
    width: 50%;
    text-align: center;
}

/****** Copyright *****/
.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

