/* Profile */
.sectionProfile {
    display: flex;
    flex-direction: column;
}

.infosProfile {
    padding-bottom: 80px;
}

.infosProfile p {
    padding: 10px 0%;
}


/* Delete profile */
.blockDel p {
    text-align: center;
    padding-top: 5%;
}

/* Historique de commande */
.blockOrder {
    padding-bottom: 50px 0;
}

.blockOrderContainer {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px; 
  }

  .lineDesktopOrder {
    display:none;
  }


/************************* Media query **********************/
  @media screen and (min-width: 655px) {
      .lineDesktopOrder {
        display:block;
      }

      .lineMobileOrder {
        display:none;
      }
      
      .blockOrder {    
        border: 1px solid #ccc; 
        padding: 15px;   
      }
  }