/************ Commun ****************/
 .secuH2 {
    text-align: center;
    padding-bottom: 5%;
}

.secuForm {
    padding: 5% 0%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColorPastel);
    border-radius: 30px;
}

.blockSecuForm {
    width: 90%;
}

.blockSecuInput {    
    padding: 5% 0%;
}

.caseCheckbox  {
    transform: scale(1.5);
    margin: 0% 5%;    
}

/*********** Login ***************/
 .rememberForgot {
    font-size: 1rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.blockRememberForgot {
    width: 50%;
} 

/**************** Register ***************/
 .blockNotaBene {
    font-size: 0.6rem;
}

.blockRegister {
    padding-bottom: 8%;
} 

/******************* Reset Password *****************/
.textReset {
    padding: 5% 0;
}

.blockReset {
    display: flex;
    flex-direction: row;
}

/******************* Check Email *****************/
.blockCheckEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}

/******************* Reset *****************/
.blockResetPsd {
    padding-bottom: 5%;
}

.resetError {
    padding-top: 2%;
}