/************************** Commun ****************************/
.displayNone {
    display: none;
}

/************************** Ticket ****************************/
#exhibitionSelect {
    border: none;
    padding: 2%;
    margin-bottom: 8%;
    border-radius: 10px;
    background: var(--backgroundColorPastelTitle);
    color: var(--ftTitle);
    font-weight: 500;
    width: 95%;
} 

.blockTickets {
    padding-bottom: 10%;
}

.ticketImg {
    margin: 3% 0%;
    width: 50%;
}

.sectionBlockPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-bottom: 10%;
}

.blockPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.miniText {
    font-size: 0.8rem;
}


/**************************** Cart *****************************/
/* .summaryCart {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
} */

.blockTicketCart {
    padding-bottom: 5%;
}

.ticketCart {
    padding-bottom: 5%;
}

.lineTicketCart {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blockQtyPrice {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.amountCart {
    padding: 5% 5% 5% 0;
}

.amountCart span {
    padding: 0 5%;
}
.blockIdentityOrder {
    padding: 5% 0;
}

/**************************** Confirm delete cart *****************************/
.confirmDeleteCart {
    text-align: center;
    padding-top: 5%;
}

.yesNoConfirmDeleteCart {
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}