/************************** Ticket ****************************/
.ticketImg {
    width: 30%;
}

/**************************** Cart *****************************/
.summaryCart {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}