
/************************** Ticket ****************************/
.blockListAgenda {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 0;
}

.imgExhibitListAgenda {
    width: 45%;
    height: auto;
}

.imgExhibitListAgenda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exhibitListAgenda {
    width: 55%;
    padding: 5% 0%;
}

.blockDateListAgenda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.imgTicketStock {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px; 
    max-height: auto; 
}

.titleExhibitListAgenda {
    padding: 10px 0;
}







/**************************** Cart *****************************/
.blockTicketCart {
    padding-bottom: 5%;
}

.ticketCart {
    padding-bottom: 5%;
}

.lineTicketCart {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blockQtyPrice {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.amountCart {
    padding: 5% 5% 5% 0;
}

.amountCart span {
    padding: 0 5%;
}

.blockIdentityOrder {
    padding: 5% 0;
}

/**************************** Confirm delete cart *****************************/
.confirmDeleteCart {
    text-align: center;
    padding-top: 5%;
}

.yesNoConfirmDeleteCart {
    padding-top: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}