{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}

<h1>Back-Office</h1>

<section>
    <ol>
        <li><a href="#">Utilisateurs</a></li>    {# Infos - Commandes - Modération blog - #}
        <li><a href="#">Expositions</a></li> {# Crud - blog #}
        <li><a href="#">Artistes</a></li>
        <li><a href="{{ path('userList') }}">Rôles</a></li> {# root - admin - user #}
    </ol>
</section>

{% endblock %}
