{% extends 'base.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block description %}
    Le back-office permet aux administrateurs de gérer les expositions, les artistes et les utilisateurs. 
    Cette section contient des liens vers la gestion des utilisateurs, des expositions et des artistes selon les rôles.
{% endblock %}


{% block body %}

<h1>Back-Office</h1>

<section class="backOffice">
    {% if app.user %}
        <ol>
            {% if is_granted('ROLE_ROOT') or is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('userListBO') }}">Utilisateurs</a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('exhibitListBO') }}">Expositions</a></li>
                <li><a href="{{ path('artistListBO') }}">Artistes</a></li>
                {# <li><a href="#">Blog</a></li> #}
            {% endif %}
        </ol>
    {% endif %}
</section>

{% endblock %}

