{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ artist }}{% endblock %}

{% block description %}
    Confirmez la suppression de l'artiste {{ artist }}.
{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Artiste</h1>
</div>


<section >
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    {% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}

        <p class="marginTop textDelete">Etes vous sûrs de vouloir supprimer {{ artist }} ?</p>

        <form method="post" action="{{ path('artistConfirmDeleteBO', {slug: artist.slug}) }}">
            
            <div class="button"> 
                <button class="btnSubmit" type="submit" name="submitConfirmDeleteArtist">Je confirme</button>
            </div>
            
        </form>

    {% endif %}
{% endif %}
</section>
{% endblock %}


