{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ artist }}{% endblock %}

{% block body %}
<div class="containH1">    
    <h1>Artiste</h1>
</div>


<section >
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}

            <p>Etes vous sûrs de vouloir supprimer {{ artist }} ?</p>

            <form method="post" action="{{ path('artistConfirmDeleteBO', {id: artist.id}) }}">
                <button type="submit" name="submitConfirmDeleteArtist">Je confirme</button>
            </form>
            
        {% endif %}
    {% endif %}
</section>
{% endblock %}


