{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ artist }}{% endblock %}

{% block description %}
    Confirmez la suppression de l'artiste {{ artist }}.
{% endblock %}

{% block body %}
    
<h1>Artiste</h1>



<section>    
    <p class="noticeBO">        
        Cette action est irréversible, une fois l'artiste supprimé, toutes ses données seront perdues de manière définitive.
    </p>

    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ROOT') %}

            <p class="marginTop textDelete">Etes vous sûrs de vouloir supprimer {{ artist }} ?</p>

            <div class="button">
                <a class="btnSubmit" href="{{ path('artistConfirmDeleteBO', {slug: artist.slug}) }}">
                    Je confirme
                </a>
            </div>
        {% endif %}
    {% endif %}
</section>
{% endblock %}


