
{% block body %}


<section>
    <h1>Bonjour,</h1>
    
    <div>   
        <p>Vous trouverez vos tickets ci-joint.</p>
        
        <p>Merci pour votre commande et à bientôt !</p>

        <p>Regards de guerre</p>
    </div>
</section>


{% endblock %}
