
{% block body %}



<section>
    <h1>Bonjour,</h1>
    
    <div>   
        <p>Vous trouverez votre facture ci-joint.</p>
        
        <p>A bientôt !</p>

        <p>Regards de guerre</p>
    </div>
</section>
{% endblock %}
