{% extends 'base.html.twig' %}

{% block title %}Suppression panier{% endblock %}

{% block description %}
Confirmez la suppression de votre panier. Si vous êtes sûr, vous pourrez supprimer tous les articles ajoutés. Sinon, vous pouvez revenir à votre panier.
{% endblock %}

{% block body %}

<h1>Panier</h1>

<section>
    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>

    <p class="confirmDeleteCart">Etes vous sur de vouloir supprimer votre panier ?</p>

    <p class="yesNoConfirmDeleteCart">
        <a href="{{ path('deleteCart') }}" >Oui</a>
        <a href="{{ path('cart') }}" >Non</a>
    </p>
</section>
{% endblock %}
