{% extends 'base.html.twig' %}

{% block title %}Commande validée{% endblock %}

{% block description %}
Votre commande a été validée avec succès. Vous recevrez un e-mail de confirmation.
{% endblock %}

{% block body %}

<h1>Commande passée avec succès !</h1>

<section>
    
    
    <p style="padding-bottom: 15px;">Vous allez recevoir un mail avec votre commande.</p>

    <p style="padding-bottom: 15px;">Merci pour votre achat.</p>

    <p style="padding-bottom: 15px;">A bientôt {{ app.user }}</p>

    

    
</section>
{% endblock %}
