{% extends 'base.html.twig' %}

{% block title %}Commande vallidée{% endblock %}

{% block description %}
Votre commande a été validée avec succès. Vous recevrez un e-mail de confirmation.
{% endblock %}

{% block body %}

<h1>Commande passée avec succès !</h1>

<section>
    
    
    <p>Vous allez recevoir un mail avec votre réservation.</p>

    <p>Merci pour votre achat.</p>

    <p>A bientôt {{ app.user }}</p>

    

    
</section>
{% endblock %}
