{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block description %}
Accédez à votre compte Regards de Guerre : consultez votre profil et votre historique de commandes en toute simplicité.
{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Mon compte</h1>
</div>

<section>

    <p><a class="textHover" href="{{ path('profile', {slug: app.user.slug}) }}">Mon profil</a></p>

    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ROOT') and not is_granted('ROLE_ADMIN') %}
    <p><a class="textHover" href="{{ path('orderHistory', {slug: app.user.slug}) }}">Mon historique de commandes</a></p>
{% endif %}

</section>
{% endblock %}

