{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Mon compte</h1>
</div>

<section>

    <p><a href="{{ path('profile', {id: app.user.id}) }}">Mon profil</a></p>

    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ROOT') and not is_granted('ROLE_ADMIN') %}
    <p><a href="{{ path('orderHistory', {id: app.user.id}) }}">Mon historique de commandes</a></p>
{% endif %}

</section>
{% endblock %}

