{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div>
    <p>Confirmez-vous la suppression de votre profil ?</p>
    <p>
        <a href="{{ path('userDeleteConfirmProfile', {id: app.user.id}) }}">Je confirme</a>
    </p>
</div>

{% endblock %}