{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Modifier votre pseudo</h1>
</div>

<section>
   

    {{ form_start(form) }}
        <p class="label">{{ form_label(form.userNickname) }}</p>
        <p class="input">{{ form_widget(form.userNickname) }}</p>

        <button type="submit" class="btn btnSubmit">Mettre à jour</button>
    {{ form_end(form) }}
</section>
{% endblock %}
