{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block description %}
Mettez à jour votre adresse email sur Regards de Guerre pour une gestion optimale de votre compte et de vos notifications.
{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Modifier votre email</h1>
</div>

<section class="sectionCenter">

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
    
    {{ form_start(form) }}
        <p class="label">{{ form_label(form.userEmail) }}</p>
        <p class="input">{{ form_widget(form.userEmail) }}</p>

        <div class="button">
            <button type="submit" class="btnSubmit">Mettre à jour</button>
        </div>
    {{ form_end(form) }}

</section>
{% endblock %}
