{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Modifier votre pseudo</h1>

    {{ form_start(form) }}
        {{ form_row(form.userNickname) }}

        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

{% endblock %}
