{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Mon compte</h1>
</div>

<section>

    <a class="comeBack" href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-rotate-left"></i></a>
    
    <div class="blockDel">
        <p>Confirmez-vous la suppression de votre profil ?</p>

        <p class="btn btnSubmit">
            <a href="{{ path('userDeleteConfirmProfile', {id: app.user.id}) }}">Je confirme</a>
        </p>
    </div>

</section>

{% endblock %}