{% extends 'base.html.twig' %}

{% block title %}Supprimer mon profil{% endblock %}

{% block description %}
Confirmez la suppression définitive de votre compte Regards de Guerre. Cette action est irréversible.
{% endblock %}

{% block body %}
<!-- UserController -->

<div class="containH1">    
    <h1>Mon compte</h1>
</div>

<section class="sectionCenter">

    <div class="blockDel">
        <p>Confirmez-vous la suppression de votre profil ?</p>

        <div class="button">
            <a class="btnSubmit" href="{{ path('userDeleteConfirmProfile', {slug: app.user.slug}) }}">Je confirme</a>
        </div>
    </div>

</section>

{% endblock %}